<h1>Users</h1>

<%= link_to 'Create New User', new_user_registration_path, class: 'button new-user-button' %>


<ul class="users-list">
  <% @users.each do |user| %>
    <div class="list">
      <div class="user-image">
        <%= image_tag(user.photo, alt: 'User Image') if user.photo.present? %>
      </div>
      <li class="user-container">
        <div class="user-info">
          <h2 class="user-name"><%= link_to user.name, user_path(user) %></h2>
          <p class="post-count">Number of posts: <%= @posts_count[user.id] || 0 %></p>
        </div>
        
      </li>
    </div>
  <% end %>
</ul>
