<%= render(partial: 'partials/menu', locals: { title: 'Users list', path: nil }) %>
<section>
  <%= @users.size.zero? ? render(partial: 'partials/empty', locals: { name: 'users' }) : render(partial: 'user', collection: @users) %>
</section>