<%= render(partial: 'partials/menu', locals: { title: 'Posts list', path: user_path(@user) }) %>
<section>
  <%= @user.posts.size.zero? ? render(partial: 'partials/empty', locals: { name: 'posts' }) : render(partial: 'post', collection:  @posts, locals: { comments: nil }) %>
</section>
<%= link_to('New post', new_user_post_path(@user)) %>